<div class="container-fluid">
    <div class="row w-50  text-center">
        <!-- <div class="col-lg-5 "> -->
            <p>{{obj.name}}</p>
            <p>{{obj.age}}</p>
            <p>{{obj.status}}</p>
            <p>{{obj.address}}</p>
            <!-- <input type="text" value="{{obj.name}}">
            <input type="text" value="{{obj.age}}">
            <input type="text" value="{{obj.status}}">
            <input type="text" value="{{obj.address}}"> -->
        
        <!-- </div> -->

    </div>
</div>